# map()

In [1]:
sarasas = [4, 3, 2, 1]
sarasas

[4, 3, 2, 1]

In [3]:
sarasas_kvadratu = []
for skaicius in sarasas:
    sarasas_kvadratu.append(skaicius ** 2)
sarasas_kvadratu

[16, 9, 4, 1]

In [6]:
def kvadratu(skaicius):
    return skaicius ** 2

alt_kvadratu = map(kvadratu, sarasas)
list(alt_kvadratu)

[16, 9, 4, 1]

In [13]:
lambda_kvadratu = map(lambda skaicius: skaicius ** 2, sarasas)
list(lambda_kvadratu)

[16, 9, 4, 1]

In [11]:
from datetime import date

ivesta_data = "2023-01-31"
metai, menuo, diena = map(int, ivesta_data.split('-'))
tikra_data = date(metai, menuo, diena)
tikra_data

datetime.date(2023, 1, 31)

# filter()

In [16]:
def daugiau_nei_du(sarasas):
    sarasas_2 = []
    for skaicius in sarasas:
        if skaicius > 2:
            sarasas_2.append(skaicius)
    return sarasas_2

daugiau_nei_du(sarasas)

[4, 3]

In [18]:
d_uz_du = filter(lambda skaicius: skaicius > 2, sarasas)
list(d_uz_du)

[4, 3]

In [23]:
aibe = list(range(-10, 20))
lyginiai = filter(lambda skaicius: skaicius % 2 == 0, aibe)
list(lyginiai)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
import calendar
metai = list(range(1950, 2150))
keliamieji = filter(calendar.isleap, metai)
list(keliamieji)

[1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2104,
 2108,
 2112,
 2116,
 2120,
 2124,
 2128,
 2132,
 2136,
 2140,
 2144,
 2148]

# reduce()

In [34]:
from functools import reduce

print([5, 6] + sarasas)
suma = reduce(lambda pirmas, antras: pirmas * antras, [5, 6] + sarasas)
suma

[5, 6, 4, 3, 2, 1]

720

# statistines funkcijos

In [36]:
sum(sarasas)

10

In [37]:
min(sarasas)

1

In [38]:
max(sarasas)

4

In [41]:
from statistics import mean, median
print(mean(sarasas + [1, 1, 1]))
print(median(sarasas + [2, 1, 1]))

1.8571428571428572
2

# Sąrašo apibrėžimas (list comprehension)

In [43]:
# ciklas sarase
s_kvadratu = [skaicius ** 2 for skaicius in sarasas]
s_kvadratu

[16, 9, 4, 1]

In [44]:
# salyga sarase = filtras
f_d_uz_du = [skaicius for skaicius in sarasas if skaicius > 2]
f_d_uz_du

[4, 3]

In [57]:
lyginiai = [skaicius for skaicius in range(-10000000, 10000000) if skaicius % 2 == 0]
# lyginiai
mean(lyginiai)

-1

In [55]:
genlyg = (skaicius for skaicius in range(-10000000, 10000000) if skaicius % 2 == 0)
mean(genlyg)

-1

In [58]:
def tik_lyginiai(sarasas):
    lyginiai = []
    for skaicius in range(-10000000, 10000000):
        if skaicius % 2 == 0:
            lyginiai.append(skaicius)
    return lyginiai

tl = tik_lyginiai(sarasas)
mean(tl)

-1

In [61]:
misriukas = [77, 66, 69, "Labas", True, False, "vakaras", [1, 2, 3], {"kibiras": "be rankenos"}, -100.2, 69.420, "OK", 42, 21, 3.14]
misriukas

[77,
 66,
 69,
 'Labas',
 True,
 False,
 'vakaras',
 [1, 2, 3],
 {'kibiras': 'be rankenos'},
 -100.2,
 69.42,
 'OK',
 42,
 21,
 3.14]

In [62]:
kiek_intu = sum(type(elementas) is int for elementas in misriukas)
kiek_intu

5

In [69]:
kiek_stringu = sum(type(elementas) is float for elementas in misriukas)
kiek_stringu

3

In [72]:
def kiek_tipu(tipas, sarasas):
    return sum(type(elementas) is tipas for elementas in sarasas)

print(kiek_tipu(float, misriukas))
print(kiek_tipu(int, misriukas))
print(kiek_tipu(list, misriukas))

3
5
1